/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.group img {
  width: 100%;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
display: flex;

}

.idea-item img {
  width: 100%;
}

.idea-container img{
display: flex;
flex-direction: column;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  margin-bottom: 40px;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 20px;

}
header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  list-style: none;
  display: flex;
  padding-left: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

/* -------  Search Form ------- */
form {
  margin: 0;
  border: 2px solid #ff385c;
  padding: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form label {
  font-weight: bold;
}

form select,
form input {
  justify-content: center;
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 1050px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  }

  .logo {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 8px;
    align-self: center;
  }

  header nav ul li a:hover {
    color: #5c5656;
  }

  form div {
    display: flex;
    flex-direction: column;
  }

  form {
    flex-direction: row;
  }

  .idea-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  
  
  .idea-item img {
  width: 100%;
  }

  .group {
    display: flex;
    flex-direction: row;
  }

  .wrapper {
    width: 100%;
  }
  
  .container{
    align-content: flex-start;
  }

  .group {
    display: flex;
    justify-items: center;
  }

  .item-double{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
} 
